@{
    ViewBag.Title = "Home Page";
}
<h1>My Books</h1>


@foreach (var book in Model)
{
    <div class="container">
        <h2>@book["Title"].InnerText</h2>
        <p>
            @book["Description"].InnerText
        </p>
        <p><a class="btn btn-default" href="Books/Read/@book["Id"].InnerText">Read &raquo;</a></p>
        <hr>
    </div>
}
  