
    <form action="/Books/Update" method="put">
        <input type="hidden" class="form-control" id="book_id" name="book_id" value="@Model.book_id">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="@Model.title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3">@Model.description</textarea>
        </div>
        <div class="form-group">
            <label for="content">Text</label>
            <textarea class="form-control" id="content" name="content" rows="10">@Model.content</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
